<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{{ .title }}</title>
<meta name="description" content="chart created using amCharts live editor" />
<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">

        <!-- amCharts custom font -->
        <link href='../../assets/css/chalk.css' rel='stylesheet' type='text/css'>

		<!-- amCharts javascript sources -->
		<script type="text/javascript" src="../../assets/amcharts/amcharts.js"></script>
		<script type="text/javascript" src="../../assets/amcharts/serial.js"></script>
		<script type="text/javascript" src="../../assets/amcharts/themes/light.js"></script>

		<!-- amCharts javascript code -->
		<script type="text/javascript">
			AmCharts.makeChart("chartdiv",
				{
					"type": "serial",
					"categoryField": "date",
					"dataDateFormat": "YYYY-MM-DD",
					"theme": "light",
					"categoryAxis": {
						"parseDates": true
					},
					"chartCursor": {
						"enabled": true
					},
					"chartScrollbar": {
						"enabled": true
					},
					"trendLines": [],
					"graphs": [
						{
							"bullet": "round",
							"id": "AmGraph-1",
							"title": "{{ .currency }}High",
							"type": "smoothedLine",
							"valueField": "Highest"
						},
						{
							"bullet": "square",
							"id": "AmGraph-2",
							"title": "{{ .currency }}Low",
							"type": "smoothedLine",
							"valueField": "Lowest"
						}
					],
					"guides": [],
					"valueAxes": [
						{
							"id": "ValueAxis-1",
							"title": "Exchange Rate"
						}
					],
					"allLabels": [],
					"balloon": {},
					"legend": {
						"enabled": true,
						"useGraphSettings": true
					},
					"titles": [
						{
							"id": "Title-1",
							"size": 15,
							"text": "Fishball Chart"
						}
					],
					"dataProvider":
                        {{ .data }}

				}
			);
		</script>
</head>

<body>


<a role="button" class="btn btn-default" href="http://hzl.im:28080/analysis/showData/usdhkd">USDHKD</a>
<a role="button" class="btn btn-default" href="http://hzl.im:28080/analysis/showData/usdeur">USDEUR</a>
<a role="button" class="btn btn-default" href="http://hzl.im:28080/analysis/showData/usdgbp">USDGBP</a>
<a role="button" class="btn btn-default" href="http://hzl.im:28080/analysis/showData/usdaud">USDAUD</a>
<a role="button" class="btn btn-default" href="http://hzl.im:28080/analysis/showData/usdnzd">USDNZD</a>
<a role="button" class="btn btn-default" href="http://hzl.im:28080/analysis/showData/usdcad">USDCAD</a>
<a role="button" class="btn btn-default" href="http://hzl.im:28080/analysis/showData/usdjpy">USDJPY</a>

<div class="container-fluid">
<div class="row-fluid">
<div class="span12">
<div id="chartdiv" style="width: 100%; height: 600px; background-color: #FFFFFF;" ></div>
</div>
</div>
</div>

<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</body>

</html>